@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

$color-white: #e8e8e8;
$color-light-blue: #7d98a1;
$color-dark-blue: #0a2e36;
$color-black: #1f2328;

$fontTitle: 'Comfortaa', cursive;
$fontRegular: 'Poppins', sans-serif;
